{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table m-5">
        <tbody>
          
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Derscription</th>
                <td>{{ article.content }}</td>
            </tr>
        </tbody>
    </table>

  <div>
   <h2><a href="{{ path('app_comment_new', {'id': article.id}) }}">Ajouter un commentaire</a></h2> 
  </div>


<div class="mt-3">
    {% for comment in comments %}
        <div>{{ comment.user.email }} a écrit :</div>
        <div>{{ comment.content }}</div>
    {% endfor %}
</div>

{% endblock %}
